h1,h2,h3,h4{
    font-family: 'Noto Sans TC', sans-serif;
}

p,a,input,label,textarea,span,ul,li{
    font-family: 'Open Sans', sans-serif;
}

h3{
    font-size: 36px;
    line-height: 1.5;
}

img{
    max-width: 100%;
}

.btn{
    background: #455A64;
    color: white;
    border-radius: 20px;
}

.btn1{
    background: #455A64;
    color: white;
}

.btn2{
    background: #455A64;
    color: white;
    padding: 9px 26px;
    border-radius: 20px;
}

.searchButton{
    background: #455A64;
    color: white;
    padding: 1px 3px;
}

#intro .jumbotron{
    height:70vh;
    margin-bottom: 0px;
}

#intro h1{
    font-size: 52px;
    font-weight: 400;
    line-height: 1.5;
}

#intro .container{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#intro i{
    margin-right: 8px;
}

#intro #kaggle {
    margin-left: 1000px;
    width: 120px;
}

header nav img{
    width:35px;
    height:35px;
}

header li{
    margin: 0px 10px;
}

#second{
    padding: 60px 0px;
}

#second h3{
    margin-bottom: 40px;
}

#second .card{
    margin-bottom: 30px;
}

#second .card img{
    width: 120px;
    margin-left: 750px;
}

#second .upper{
    position: relative;
}

#second .innertext{
    position: absolute;
    bottom: 24px;
    left: 24px;
}

#second .innertext span{
    background: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 20px;
}

#second .innertext h4{
    background: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 8px;
    margin-top: 12px;
}

#second .lower h3{
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#second .lower i{
    margin-right: 6px;
}

#secondd .outer{
    background: white;
    box-shadow: 0 0 8px 0 rgb(0, 0, 0, 0.8);
}

#second .lower{
    padding: 6px 20px 20px 20px;
}

#second .input-group-append{
    margin-bottom: 40px;
}

#third{
    padding: 80px 0px;
    background: #F5F5F5;
}

#third .card img{
    width: 120px;
    margin-left: 750px;
}

#third h3{
    margin-bottom: 30px;
}

#third .upper{
    position: relative;
}

#third .innertext{
    position: absolute;
    bottom: 24px;
    left: 24px;
}

#third .innertext span{
    background: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 20px;
}

#third .innertext h4{
    background: rgb(255, 255, 255);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 8px;
    margin-top: 12px;
}

#third .lower h3{
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#third .lower i{
    margin-right: 6px;
}

#third .outer{
    background: white;
    box-shadow: 0 0 8px 0 rgb(0, 0, 0, 0.8);
}

#third .lower{
    padding: 6px 20px 20px 20px;
}

#third button{
    color: #455A64;
    
}

#third .card{
    margin-bottom: 30px;
}

#email{
    padding: 80px 0px;
}

#email h3{
    margin-bottom: 80px 0px;
}

#email .input-group a{
    margin-left: 680px;
}

footer{
    border-top: solid 1px #c9c9c9;
    padding: 80px 0px;
}

footer img{
    width: 60px;
    margin-bottom: 26px;
}

footer h4{
    margin-bottom: 26px;
}

footer a{
    color: #f05f5c;
}

footer ul{
    list-style: none;
    padding: 0;
    float: left;
    margin-right: 20px;
}

footer ul li{
    margin-bottom: 10px;
}

footer ul li a{
    color: #707070;
}

footer .container{
    padding-left: 120px;
}